/* Filter styles */

.filter_simple {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: .85em;
    list-style: none;
}

.filter_simple li {
    float: left;
    padding: 0 0 12px;
}

.filter_simple a {
    padding: .2em 0;
    margin: 0 .4em;
    text-decoration: none;
    border-bottom: solid 1px #CCC;
    color: #3F5F9E;
}

.filter_simple a:hover {
    color: #FFF;
    background: #404040;
    padding: .2em .4em;
    margin: 0;
}

.filter_simple li.selected  span {
    padding: .2em .4em;
    background: #829DBF;
    color: white;
}

.filter_complex {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.filter_complex li {
    font-size: .94em;
    padding-bottom: .1em;
}

.filter_complex li input {
    margin-bottom: 0;
}

.filter_complex li.selected a{
    color: #329A1C;
    font-weight: bold;
}

.current_filter {
    color: #666;
    font-weight: bold;
    padding: 5px;
    white-space: nowrap;
}

.current_filter img {
    width: 10px;
    margin-top: -2px;
}

.current_filter:hover {
    color: #000;
    background-color: #ED9;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


/* Drop down link */
.drop_down {
}

.drop_down .input .content ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.drop_down .label, .drop_down .input {
    line-height: 2em;
    float: left;
}

.drop_down .input a {
    color: #008CD4;
    font-size: 1em;
    text-decoration: none;
    border-bottom: 1px dashed;
    margin: 5px 0;
    padding: 0 5px;
    line-height: 1.2;
    display: block;
}

.drop_down .input .content .selected {
    font-weight: bold;
}

.drop_down .input .content {
    display: none;
    position: absolute;
    border: 1px solid #BBB;
    background-color: #EEE;
    padding: 0 5px;
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

